<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        {% include "nav.html" %}
        <main>
            <h2>List of cars available</h2>
            <table>
                <thead>
                    <th>S No</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                </thead>
                <tbody></tbody>
                <!-- {% for i in data %}   
                     <tr><td>{{ i.name }}</td><td>{{i.type}}</td><td>{{ i.price }}</td></tr>
                {% endfor %}     -->
            </table>
            
        </main>
        {% include "footer.html" %}
    </div>
<script>
    "use strict";
    
    fetch("/api").then(i=>i.json()).then(i=>{
        i.forEach(((elem,ind)=>{
            document.querySelector("table tbody").innerHTML+=`<tr><td>${++ind}</td><td>${elem.name}</td><td>${elem.type}</td><td>${elem.price}</td></tr>`;
        }))
    });

</script>   
</script>    
</body>
</html>